{% extends 'base.html' %}
{% load static %}
{% block title %}
Members
{% endblock %}
{% block content %}
    <div class="container">
        <div class="banner">
            <h1>1984 Alumni Members</h1>
        </div>
        {% if request.user.is_authenticated %}
            {% if request.user.member.is_authorized == True %}
                <div class="member-query-results">
                    <form action="#" class="filter-branch">
                        <label class="sort-members" for="sort-members">Sort members:</label>
                        <br>
                        <select id="sort-members" name="sort-members">
                            {% if sort_members == 'names-ascending' %}
                                <option value="names-ascending" selected>Names A to Z</option>
                            {% else %}
                                <option value="names-ascending">Names A to Z</option>
                            {% endif %}
                            {% if sort_members == 'names-descending' %}
                                <option value="names-descending" selected>Names Z to A</option>
                            {% else %}
                                <option value="names-descending">Names Z to A</option>
                            {% endif %}
                        </select>
                        <br>
                        <label class="filter-branch" for="filter-branch">Filter by Branch:</label>
                        <br>
                        <select id="filter-branch" name="filter-branch">
                            {% if filter_branch == "all-branches" %}
                                <option value="all-branches" selected>All branches</option>
                            {% else %}
                                <option value="all-branches">All branches</option>
                            {% endif %}
                            {% if filter_branch == 'chemical' %}
                                <option value="chemical" selected>Chemical</option>
                            {% else %}
                                <option value="chemical">Chemical</option>
                            {% endif %}
                            {% if filter_branch == 'civil' %}
                                <option value="civil" selected>Civil</option>
                            {% else %}
                                <option value="civil">Civil</option>
                            {% endif %}
                            {% if filter_branch == 'electrical' %}
                                <option value="electrical" selected>Electrical</option>
                            {% else %}
                                <option value="electrical">Electrical</option>
                            {% endif %}
                            {% if filter_branch == 'mechanical' %}
                                <option value="mechanical" selected>Mechanical</option>
                            {% else %}
                                <option value="mechanical">Mechanical</option>
                            {% endif %}
                            {% if filter_branch == 'production' %}
                                <option value="production" selected>Production</option>
                            {% else %}
                                <option value="production">Production</option>
                            {% endif %}
                        </select>
                        <br>
                        <button class="filter-branch" type="submit">Get Results</button>
                    </form>
                    <form class="search-members" action="#">
                        <input type="text" placeholder="Search by name" name="search-members" value="{{ search_query }}">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <!-- Member Cards-->
                <section class="member-cards">
                    {% if members %}
                        {% for member in members %}
                            <div class="member-card">
                                {% if member.photo %}
                                    <img src="{{ member.photo.url }}" alt="Avatar">
                                {% endif %}
                                <div class="member-details">
                                    <h4><b>{{ member.display_name }}</b></h4>
                                    {% for branch in branches %}
                                        {% if branch.0 == member.branch %}
                                            <p>{{ branch.1 }}</p>
                                        {% endif %}
                                    {% endfor %}
                                    <a href="{% url 'individual_member' member.id %}">See More <i class="fas fa-chevron-right"></i></a> 
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </section>
            {% else %}
                <div>Sorry {{ user.username }}, you cannot view this page until the administrator authorizes you</div>
            {% endif %}
        {% else %}
            <div> Sorry, only registered and admin authorized users can view this page</div>
        {% endif %}
    </div>
{% endblock %}