{% extends 'base.html' %}
{% load static %}
{% block title %}
Change Username
{% endblock %}
{% block content %}
    <div class="container">
        {% if request.user.is_authenticated %}
            <div class="form-div">
                <form method="POST" action="{% url 'change_username' %}">
                    {% csrf_token %}
                    <label>Current Username:</label>
                    <label>{{ request.user.username }}</label>
                    <input type="hidden" name="curr-username" value="{{ request.user.username }}" class="form-control" required>
                    <br>
                    <label for="new-username">Enter New Username:</label>
                    <input type="text" name="new-username" class="form-control" required>
                    <button type="submit">Save changes</button>
                </form>
            </div>
        {% else %}
            <div> Sorry, only registered and admin authorized users can view this page</div>
        {% endif %}
        <!-- Alerts -->
        {% include 'partials/_alerts.html' %}
    </div>
{% endblock %}