{% extends 'base.html' %}
{% load static %}
{% block title %}
Stats
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/highcharts.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <!-- News Cards-->
        <div class="banner">
            <h1>Stats of the 1984 batch</h1>
        </div>
        <div class="stats">
            <div id="bar-chart1"></div>
            <br>
            <br>
            <br>
            <div id="pie-chart1"></div>
            <br>
            <br>
            <br>
            <div class="gauges">
                <div id="electrical-gauge"></div>
                <div id="mechanical-gauge"></div>
                <div id="chemical-gauge"></div>
                <div id="civil-gauge"></div>
                <div id="production-gauge"></div>               
            </div>           
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Highcharts.chart('bar-chart1', {
                chart: {
                    type: 'column'
                },
                
                title: {
                    text: '<b>Distribution of Alumni Members</b>'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: [
                        'Kerala',
                        'Karnataka',
                        'Maharashtra',
                        'Tamil Nadu',
                        'Gujarat',
                        'USA',
                        'Netherlands',
                        'Australia',
                        'UK',
                        'Kuwait',
                        'UAE',
                        'Oman',
                        'Qatar',
                        'Saudi Arabia'

                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Number of Alumni Members'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Count',
                    data: [41, 7, 6, 4, 1, 4, 1, 4, 2, 5, 4, 2, 2, 2]
                }]
            });
        });
    </script>
    <script>
            document.addEventListener('DOMContentLoaded', function () {
                Highcharts.chart('pie-chart1', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: '<b>Distribution of members by branch</b>'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    accessibility: {
                        point: {
                            valueSuffix: '%'
                        }
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            }
                        }
                    },
                    series: [{
                        name: '% of Alumni',
                        colorByPoint: true,
                        data: [{
                            name: 'Mechanical',
                            y: {{ count_mechanical }} / {{ total_registered }} * 100,
                            sliced: true,
                            selected: true
                        }, {
                            name: 'Civil',
                            y: {{ count_civil }} / {{ total_registered }} * 100
                        }, {
                            name: 'Chemical',
                            y: {{ count_chemical }} / {{ total_registered }} * 100
                        }, {
                            name: 'Electrical',
                            y: {{ count_electrical }} / {{ total_registered }} * 100
                        }, {
                            name: 'Production',
                            y: {{ count_production }} / {{ total_registered }} * 100
                        }]
                    }]
                });
            });
        </script>
        <script>
                Highcharts.chart('chemical-gauge', {

                    chart: {
                        type: 'gauge',
                        plotBackgroundColor: null,
                        plotBackgroundImage: null,
                        plotBorderWidth: 0,
                        plotShadow: false
                    },
                
                    title: {
                        text: '<b>Chemical Engineering</b>'
                    },
                
                    pane: {
                        startAngle: -150,
                        endAngle: 150,
                        background: [{
                            backgroundColor: {
                                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                                stops: [
                                    [0, '#FFF'],
                                    [1, '#333']
                                ]
                            },
                            borderWidth: 0,
                            outerRadius: '109%'
                        }, {
                            backgroundColor: {
                                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                                stops: [
                                    [0, '#333'],
                                    [1, '#FFF']
                                ]
                            },
                            borderWidth: 1,
                            outerRadius: '107%'
                        }, {
                            // default background
                        }, {
                            backgroundColor: '#DDD',
                            borderWidth: 0,
                            outerRadius: '105%',
                            innerRadius: '103%'
                        }]
                    },
                
                    // the value axis
                    yAxis: {
                        min: 0,
                        max: {{ total_chemical_strength }},
                
                        minorTickInterval: 'auto',
                        minorTickWidth: 1,
                        minorTickLength: 10,
                        minorTickPosition: 'inside',
                        minorTickColor: '#666',
                
                        tickPixelInterval: 30,
                        tickWidth: 2,
                        tickPosition: 'inside',
                        tickLength: 10,
                        tickColor: '#666',
                        labels: {
                            step: 2,
                            rotation: 'auto'
                        },
                        title: {
                            text: '#Registered'
                        },
                        plotBands: [{
                            from: 0,
                            to: {{ total_chemical_strength }} / 2,
                            color: '#DF5353' // red
                        }, {
                            from: {{ total_chemical_strength }} / 2,
                            to: {{ total_chemical_strength }} * 0.75,
                            color: '#DDDF0D' // yellow
                        }, {
                            from: {{ total_chemical_strength }} * 0.75,
                            to: {{ total_chemical_strength }},
                            color: '#55BF3B' // green
                        }]
                    },
                
                    series: [{
                        name: '#',
                        data: [{{ count_chemical }}],
                        tooltip: {
                            valueSuffix: ' registered'
                        }
                    }]
                
                },
                );
        </script>
        <script>
                Highcharts.chart('civil-gauge', {

                    chart: {
                        type: 'gauge',
                        plotBackgroundColor: null,
                        plotBackgroundImage: null,
                        plotBorderWidth: 0,
                        plotShadow: false
                    },
                
                    title: {
                        text: '<b>Civil Engineering</b>'
                    },
                
                    pane: {
                        startAngle: -150,
                        endAngle: 150,
                        background: [{
                            backgroundColor: {
                                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                                stops: [
                                    [0, '#FFF'],
                                    [1, '#333']
                                ]
                            },
                            borderWidth: 0,
                            outerRadius: '109%'
                        }, {
                            backgroundColor: {
                                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                                stops: [
                                    [0, '#333'],
                                    [1, '#FFF']
                                ]
                            },
                            borderWidth: 1,
                            outerRadius: '107%'
                        }, {
                            // default background
                        }, {
                            backgroundColor: '#DDD',
                            borderWidth: 0,
                            outerRadius: '105%',
                            innerRadius: '103%'
                        }]
                    },
                
                    // the value axis
                    yAxis: {
                        min: 0,
                        max: {{ total_civil_strength }},
                
                        minorTickInterval: 'auto',
                        minorTickWidth: 1,
                        minorTickLength: 10,
                        minorTickPosition: 'inside',
                        minorTickColor: '#666',
                
                        tickPixelInterval: 30,
                        tickWidth: 2,
                        tickPosition: 'inside',
                        tickLength: 10,
                        tickColor: '#666',
                        labels: {
                            step: 2,
                            rotation: 'auto'
                        },
                        title: {
                            text: '#Registered'
                        },
                        plotBands: [{
                            from: 0,
                            to: {{ total_civil_strength }} / 2,
                            color: '#DF5353' // red
                        }, {
                            from: {{ total_civil_strength }} / 2,
                            to: {{ total_civil_strength }} * 0.75,
                            color: '#DDDF0D' // yellow
                        }, {
                            from: {{ total_civil_strength }} * 0.75,
                            to: {{ total_civil_strength }},
                            color: '#55BF3B' // green
                        }]
                    },
                
                    series: [{
                        name: '#',
                        data: [{{ count_civil }}],
                        tooltip: {
                            valueSuffix: ' registered'
                        }
                    }]
                
                },
                // Add some life
                );
        </script>
        <script>
                Highcharts.chart('electrical-gauge', {

                    chart: {
                        type: 'gauge',
                        plotBackgroundColor: null,
                        plotBackgroundImage: null,
                        plotBorderWidth: 0,
                        plotShadow: false
                    },
                
                    title: {
                        text: '<b>Electrical Engineering</b>'
                    },
                
                    pane: {
                        startAngle: -150,
                        endAngle: 150,
                        background: [{
                            backgroundColor: {
                                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                                stops: [
                                    [0, '#FFF'],
                                    [1, '#333']
                                ]
                            },
                            borderWidth: 0,
                            outerRadius: '109%'
                        }, {
                            backgroundColor: {
                                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                                stops: [
                                    [0, '#333'],
                                    [1, '#FFF']
                                ]
                            },
                            borderWidth: 1,
                            outerRadius: '107%'
                        }, {
                            // default background
                        }, {
                            backgroundColor: '#DDD',
                            borderWidth: 0,
                            outerRadius: '105%',
                            innerRadius: '103%'
                        }]
                    },
                
                    // the value axis
                    yAxis: {
                        min: 0,
                        max: {{ total_electrical_strength }},
                
                        minorTickInterval: 'auto',
                        minorTickWidth: 1,
                        minorTickLength: 10,
                        minorTickPosition: 'inside',
                        minorTickColor: '#666',
                
                        tickPixelInterval: 30,
                        tickWidth: 2,
                        tickPosition: 'inside',
                        tickLength: 10,
                        tickColor: '#666',
                        labels: {
                            step: 2,
                            rotation: 'auto'
                        },
                        title: {
                            text: '#Registered'
                        },
                        plotBands: [{
                            from: 0,
                            to: {{ total_electrical_strength }} / 2,
                            color: '#DF5353' // red
                        }, {
                            from: {{ total_electrical_strength }} / 2,
                            to: {{ total_electrical_strength }} * 0.75,
                            color: '#DDDF0D' // yellow
                        }, {
                            from: {{ total_electrical_strength }} * 0.75,
                            to: {{ total_electrical_strength }},
                            color: '#55BF3B' // green
                        }]
                    },
                
                    series: [{
                        name: '#',
                        data: [{{ count_electrical }}],
                        tooltip: {
                            valueSuffix: ' registered'
                        }
                    }]
                
                },
                // Add some life
                );
        </script>
        <script>
                Highcharts.chart('mechanical-gauge', {

                    chart: {
                        type: 'gauge',
                        plotBackgroundColor: null,
                        plotBackgroundImage: null,
                        plotBorderWidth: 0,
                        plotShadow: false
                    },
                
                    title: {
                        text: '<b>Mechanical Engineering</b>'
                    },
                
                    pane: {
                        startAngle: -150,
                        endAngle: 150,
                        background: [{
                            backgroundColor: {
                                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                                stops: [
                                    [0, '#FFF'],
                                    [1, '#333']
                                ]
                            },
                            borderWidth: 0,
                            outerRadius: '109%'
                        }, {
                            backgroundColor: {
                                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                                stops: [
                                    [0, '#333'],
                                    [1, '#FFF']
                                ]
                            },
                            borderWidth: 1,
                            outerRadius: '107%'
                        }, {
                            // default background
                        }, {
                            backgroundColor: '#DDD',
                            borderWidth: 0,
                            outerRadius: '105%',
                            innerRadius: '103%'
                        }]
                    },
                
                    // the value axis
                    yAxis: {
                        min: 0,
                        max: {{ total_mechanical_strength }},
                
                        minorTickInterval: 'auto',
                        minorTickWidth: 1,
                        minorTickLength: 10,
                        minorTickPosition: 'inside',
                        minorTickColor: '#666',
                
                        tickPixelInterval: 30,
                        tickWidth: 2,
                        tickPosition: 'inside',
                        tickLength: 10,
                        tickColor: '#666',
                        labels: {
                            step: 2,
                            rotation: 'auto'
                        },
                        title: {
                            text: '#Registered'
                        },
                        plotBands: [{
                            from: 0,
                            to: {{ total_mechanical_strength }} / 2,
                            color: '#DF5353' // red
                        }, {
                            from: {{ total_mechanical_strength }} / 2,
                            to: {{ total_mechanical_strength }} * 0.75,
                            color: '#DDDF0D' // yellow
                        }, {
                            from: {{ total_mechanical_strength }} * 0.75,
                            to: {{ total_mechanical_strength }},
                            color: '#55BF3B' // green
                        }]
                    },
                
                    series: [{
                        name: '#',
                        data: [{{ count_mechanical }}],
                        tooltip: {
                            valueSuffix: ' registered'
                        }
                    }]
                
                },
                );
        </script>
        <script>
                Highcharts.chart('production-gauge', {

                    chart: {
                        type: 'gauge',
                        plotBackgroundColor: null,
                        plotBackgroundImage: null,
                        plotBorderWidth: 0,
                        plotShadow: false
                    },
                
                    title: {
                        text: '<b>Production Engineering</b>'
                    },
                
                    pane: {
                        startAngle: -150,
                        endAngle: 150,
                        background: [{
                            backgroundColor: {
                                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                                stops: [
                                    [0, '#FFF'],
                                    [1, '#333']
                                ]
                            },
                            borderWidth: 0,
                            outerRadius: '109%'
                        }, {
                            backgroundColor: {
                                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                                stops: [
                                    [0, '#333'],
                                    [1, '#FFF']
                                ]
                            },
                            borderWidth: 1,
                            outerRadius: '107%'
                        }, {
                            // default background
                        }, {
                            backgroundColor: '#DDD',
                            borderWidth: 0,
                            outerRadius: '105%',
                            innerRadius: '103%'
                        }]
                    },
                
                    // the value axis
                    yAxis: {
                        min: 0,
                        max: {{ total_production_strength }},
                
                        minorTickInterval: 'auto',
                        minorTickWidth: 1,
                        minorTickLength: 10,
                        minorTickPosition: 'inside',
                        minorTickColor: '#666',
                
                        tickPixelInterval: 30,
                        tickWidth: 2,
                        tickPosition: 'inside',
                        tickLength: 10,
                        tickColor: '#666',
                        labels: {
                            step: 2,
                            rotation: 'auto'
                        },
                        title: {
                            text: '#Registered'
                        },
                        plotBands: [{
                            from: 0,
                            to: {{ total_production_strength }} / 2,
                            color: '#DF5353' // red
                        }, {
                            from: {{ total_production_strength }} / 2,
                            to: {{ total_production_strength }} * 0.75,
                            color: '#DDDF0D' // yellow
                        }, {
                            from: {{ total_production_strength }} * 0.75,
                            to: {{ total_production_strength }},
                            color: '#55BF3B' // green
                        }]
                    },
                
                    series: [{
                        name: '#',
                        data: [{{ count_production }}],
                        tooltip: {
                            valueSuffix: ' registered'
                        }
                    }]
                
                },
                );
        </script>
{% endblock %}