{% extends 'base.html' %}
{% load static %}
{% block title %}
Gallery
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <!-- News Cards-->
        <div class="banner">
            <h1>Gallery</h1>
        </div>
        <section class="image-cards">
            {% if pics %}
                {% for pic in pics %}
                    <div class="image-card">
                        <a class="example-image-link" href="{{ pic.photo.url }}" data-lightbox="example-set" data-title="{{ pic.caption }}">
                            <img class="example-image" src="{{ pic.photo.url }}" alt=""/>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </section>
    </div>   
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>
{% endblock %}